ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #e20000;
  }
  